.App {
    --appwidth: 90vw;
    --handfrac: 0.9;
    --cardwidthfrac: calc(2 / 15);
    --cardheightfrac: 1.4;
    --cardfontsize: 1rem;
}

@media only screen and (max-width: 1280px) {
  .App {
    --appwidth: 92vw;
    --handfrac: 0.9;
    --cardwidthfrac: calc(2 / 13);
  }
}

@media only screen and (max-width: 1080px) {
  .App {
    --appwidth: 94vw;
    --handfrac: 0.9;
    --cardwidthfrac: calc(2 / 11);
    --cardfontsize: 0.9rem;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    --appwidth: 96vw;
    --handfrac: 0.9;
    --cardwidthfrac: calc(2 / 9);
    --cardheightfrac: 1.45;
    --cardfontsize: 0.85rem;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    --appwidth: 96vw;
    --handfrac: 0.9;
    --cardwidthfrac: calc(2 / 7);
    --cardheightfrac: 1.45;
    --cardfontsize: 0.75rem;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    --appwidth: 96vw;
    --handfrac: 0.9;
    --cardwidthfrac: calc(2 / 6);
    --cardheightfrac: 1.5;
    --cardfontsize: 0.75rem;
  }
}

.App {
    --numcards: 10;
    --oneless: calc(var(--numcards) - 1);

    --handwidth: calc(var(--appwidth) * var(--handfrac));
    --cardwidth: calc(var(--appwidth) * var(--cardwidthfrac));
    --cardheight: calc(var(--cardwidth) * var(--cardheightfrac));

    --overlapfrac: calc(var(--handfrac) / (var(--oneless) * var(--cardwidthfrac)) - 1 / var(--oneless));
    --cardoverlap: calc(var(--cardwidth) * (1 - var(--overlapfrac)));

    width: var(--appwidth);

    text-align: center;
    margin: 0 auto;
}

body.dark {
  background-color: #121212;
}

p {
    margin: 0;
}

.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6, 
.dark p, 
.dark small, 
.dark span {
    color: white;
}

.dark hr {
    border-color: white;
}

.dark .badge-primary {
    background-color: #bb86fc;
}

.dark .form-control {
    background-color: #343a40;
    border-color: #121212;
    color: white;
}

.form-control:focus {
    box-shadow: none;
}

#home, #create, #join, #howto {
    width: 50vw;
    margin: 0 auto;
}

.message {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    margin-bottom: 5vh;
}