.card .card-body {
    padding: 0.5rem;
}

.card h6 {
    font-size: 0.9em;
    margin: 0;
}

.card.black {
    color: white;
    background-color: #000;
}

.card.white,
.card.black {
    width: 150px;
    height: 200px;
}

.card.white.toggled {
    box-shadow: 0px 0px 2px 2px #28a745;
}

.card.active { 
    cursor: pointer;
}

.card.short {
    height: auto;
    border-bottom: none;
}