.card {
    border: 1.2px solid rgba(128, 128, 128,.25);
    border-radius: .25vw;
}

.card .card-body {
    padding: 5%;
}

.card h6 {
    margin: 0;
}

.card h6.large {
    font-size: calc(1.05 * var(--cardfontsize));
}

.card h6.medium {
    font-size: var(--cardfontsize);
}

.card h6.small {
    font-size: calc(0.9 * var(--cardfontsize));
}

.card h6.xs {
    font-size: calc(0.8 * var(--cardfontsize));
}

.card.white h6 {
    color: black;
}

.card.white {
    background-color: #fff;
}

.card.black h6 {
    color: white;
}

.card.black {
    background-color: #000;
}

.card.white,
.card.black {
    width: var(--cardwidth);
    height: var(--cardheight);
}

.card.white.toggled {
    box-shadow: 0px 0px 2px 2px #bb86fc;
}

.card.active { 
    cursor: pointer;
}

.card.short {
    height: auto;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}