.card .card-body {
    padding: 0.5rem;
}

.card h6 {
    font-size: 0.9em;
    margin: 0;
}

.card-hover {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 10;
}

.card-hover.active {
    cursor: pointer;
}

.card-hover.active:hover ~ .card {
    transform: translateY(-50px);
}

.card.black {
    color: white;
    background-color: #000;
}

.hovercard {
    position: relative;
    width: 150px;
    height: 200px;
}

.card.white,
.card.black {
    width: 100%;
    height: 100%;
}

.card.white.toggled {
    box-shadow: 0px 2px 5px 0px black;
}

.hovercard.short {
    height: auto;
    border-bottom: none;
}