.deck {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    height: 1.25em;
}

.deck button {
    padding-top: 0px;
    padding-bottom: 0px;
}

.deck .item {
    display: flex;
    padding-left: 1.5vw;
}

.deck .item .card-icon {
    display: inline-block;
    border: 1.2px solid rgba(255, 255, 255,.25);
    border-radius: .15rem;
    line-height: 1.25;
    min-height: 1.25em;
    min-width: 0.8em;
    margin-right: 0.25em;
    font-size: 1rem;
}

.deck .item .card-icon.white {
    background-color: white;
}

.deck .item .card-icon.black {
    background-color: black;
}
