.hand {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: var(--handwidth);
}

.hovercard {
    position: relative;
    width: var(--cardwidth);
    height: var(--cardheight);
}

.card-hover.active:hover ~ .card,
.card-hover.active:active ~ .card {
    transform: translateY(-50px);
    z-index: 1;
}

.card-hover.active {
    cursor: pointer;
}

.card-hover {
    position: absolute;
    width: calc(100% * var(--overlapfrac));
    height: 100%;
    z-index: 2;
}

.hovercard:last-of-type .card-hover {
    width: 100%;
}

.hovercard:nth-child(2) {
    left: calc(-1 * var(--cardoverlap));
}

.hovercard:nth-child(3) {
    left: calc(-2 * var(--cardoverlap));
}

.hovercard:nth-child(4) {
    left: calc(-3 * var(--cardoverlap));
}

.hovercard:nth-child(5) {
    left: calc(-4 * var(--cardoverlap));
}

.hovercard:nth-child(6) {
    left: calc(-5 * var(--cardoverlap));
}

.hovercard:nth-child(7) {
    left: calc(-6 * var(--cardoverlap));
}

.hovercard:nth-child(8) {
    left: calc(-7 * var(--cardoverlap));
}

.hovercard:nth-child(9) {
    left: calc(-8 * var(--cardoverlap));
}

.hovercard:nth-child(10) {
    left: calc(-9 * var(--cardoverlap));
}