.hand {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: var(--appwidth);
}

.hovercard {
    position: relative;
    width: calc(var(--appwidth) / 11 * 2);
    height: calc(var(--appwidth) / 11 * 2 * 1.38);
}

.card-hover.active:hover ~ .card {
    transform: translateY(-50px);
    z-index: 1;
}

.card-hover.active {
    cursor: pointer;
}

.card-hover {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.hovercard:last-of-type .card-hover {
    width: 100%;
}